
<hr>
<div class="row">
    <div class="col-md-8">
        <h5>
            <button type="button" data-toggle="collapse" data-target="#msgbody{{ forloop.counter }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <a href="{% url 'reader:person' message.sender.id %}">{{ message.sender.name }}</a><span class="pull-right">{{ message.sent_date }}</span></h5>
        <span id="msgbody{{ forloop.counter }}" class=""> <!-- make class=collapse to hide again -->
            {% if show_text or not message.body_html %}
            <iframe style="border: 5px black;" src="{% url 'reader:raw_messagetext' message.id %}" height=250 width=100%></iframe>
            {% else %}
            <iframe style="border: 5px black;" src="{% url 'reader:raw_message' message.id %}" height=250 width=100%></iframe>
            {% endif %}
{% comment %}
        {% if show_text or not message.body_html %}
            <pre>{{ message.body_reply_text | striptags }}</pre>
            <button type="button" data-toggle="collapse" data-target="#msgdetails{{ forloop.counter }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <pre class="collapse" id="msgdetails{{ forloop.counter }}">{{ message.body_remaining_text | striptags }}</pre><br/>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-body">
                {{ message.body_reply_html | safe }}
                </div>
            </div>
        {% endif %}
{% endcomment %}
        </span>
    </div>
    <div class="col-md-4">
        <h5>Recipients</h5>
        <p>
        {% for person in message.recipients.all %}
            <p><a href="{% url 'reader:person' person.id %}">
                {% if person.name %}{{ person.name }}{% else %}{{ person.address}}{% endif %}</a></p>
        {% endfor %}
        {% for person in message.cc_recipients.all %}
            <p><a href="{% url 'reader:person' person.id %}">
                {% if person.name %}{{ person.name }}{% else %}{{ person.address}}{% endif %}</a></p>
        {% endfor %}
        </p>
    </div>
</div>