    <table>
        <tr>
            <td>Subject:</td>
            <td><strong>{{ message.cleaned_subject }}</strong></td>
        </tr>
        <tr>
            <td>From:</td>
            <td><a href="{% url 'reader:person' message.sender.id %}">{{ message.sender.name }}</a></td>
        </tr>
        <tr>
            <td>To:</td>
            <td>{% for person in message.recipients.all %}<a href="{% url 'reader:person' person.id %}">{{ person.name }} &lt;{{ person.address }}&gt;</a> {% endfor %}
            </td>
        </tr>
        <tr>
            <td>CC:</td>
            <td>{% for person in message.cc_recipients.all %}<a href="{% url 'reader:person' person.id %}">{{ person.name }} %lt;{{ person.address }}&gt;</a> {% endfor %}
            </td>
            </tr>
        <tr>
            <td>Date:</td>
            <td>{{ message.sent_date }}</td>
        </tr>
        {% comment %}
        <tr>
            <td>Message-ID:</td>
            <td>{{ message.message_id }}</td>
        </tr>
        {% endcomment %}
        <tr>
            <td>ID:</td>
            <td>{{ message.id }}</td>
        </tr>
        <tr>
            <td colspan=2>&nbsp;</td>
        </tr>
        <tr>
            <td colspan=2>
                {% if show_text or not message.body_html %}
                    <pre>{{ message.body_reply_text | striptags }}</pre>
                    <button type="button" data-toggle="collapse" data-target="#msgdetails{{ forloop.counter }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    <pre class="collapse" id="msgdetails{{ forloop.counter }}">{{ message.body_remaining_text | striptags }}</pre><br/>
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                        {{ message.body_reply_html | safe }}
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
        {% if message.attachments.all %}
        <tr>
            <td>Attachments:</td>
            <td>
                {% for attachment in message.attachments.all %}
                <p><a href="/{{ attachment.stored_location }}">{{ attachment.filename }}</a></p>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    </table>