{% extends 'base.html' %}
{% block title %}Group List {% endblock %}

{% block content %}
{% if groups %}
    <table class="table table-hover col-md-12">
        <thead><tr>
            <th class="col-md-5">Subjects</th>
            <th class="col-md-3">People</th>
            <th class="col-md-2">Latest Date</th>
            <th class="col-md-1">Messages</th>
            <th class="col-md-1">Attachments</th>
        </tr></thead>
        {% for group in groups %}
        <tbody><tr>
            <td><strong><a href="{% url 'reader:view_group' group.url_representation %}">
                {{ group.first_conversation.subject }}</strong></td>
            <td>
                {% for member in group.other_members %}
                <a href="{% url 'reader:person' member.id %}">{{ member.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            </td>
            <td>{{ group.first_conversation.latest_message_date }}</td>
            <td>{{ group.conversations.count }}</td>
            <td>{{ group.attachments_count }}</td>
        </tr></tbody>
        {% endfor %}
    </table>
{% else %}
    <p>No messages available.</p>
{% endif %}
<ul class="pagination">
    {% if message_list.has_previous %}<li><a href="?page={{ message_list.previous_page_number }}">
    {% else %}<li class="disabled"><a href="#">
    {% endif %}&laquo;</a></li>
    {% for page in message_list.paginator.page_range %}
    <li {% if page == message_list.number %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if message_list.has_next %}<li><a href="?page={{ message_list.next_page_number }}">
    {% else %}<li class="disabled"><a href="#">
    {% endif %}&raquo;</a></li>
</ul>

{% endblock %}