{% extends 'base.html' %}
{% block title %}Message List {% endblock %}

{% block content %}
{% if message_list %}
    <table class="table table-hover">
        <thead><tr>
            <th>Subject</th>
            <th>Sender</th>
            <th>Sent Date</th>
            <th>Messages</th>
            <th>Attachment?</th>
        </tr></thead>
        {% for message in message_list %}
        <tbody><tr>
            <td><a href="{% url 'reader:message' message.id %}">
                {% if message.cleaned_subject %}{{ message.cleaned_subject }}
                {% else %}&lt;No Subject&gt;{% endif %}</a></td>
            <td><a href="{% url 'reader:person' message.sender.id %}">{{ message.sender.name }}</a></td>
            <td>{{ message.sent_date }}</td>
            <td>{{ message.thread_messages.count | add:"1" }}</td>
            <td>{{ message.attachments.count }}</td>
        </tr></tbody>
        {% endfor %}
    </table>
{% else %}
    <p>No messages available.</p>
{% endif %}
<ul class="pagination">
    {% if message_list.has_previous %}<li><a href="?page={{ message_list.previous_page_number }}">
    {% else %}<li class="disabled"><a href="#">
    {% endif %}&laquo;</a></li>
    {% for page in message_list.paginator.page_range %}
    <li {% if page == message_list.number %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if message_list.has_next %}<li><a href="?page={{ message_list.next_page_number }}">
    {% else %}<li class="disabled"><a href="#">
    {% endif %}&raquo;</a></li>
</ul>

{% endblock %}