{% extends 'base.html' %}
{% block title %}{{ person.name }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h3>{{ person.name }}</h3>
        <h4><a href="mailto:{{ person.address }}">{{ person.address }}</a></h4>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-8"><h5>Conversations</h5></div>
    <div class="col-md-4"><h5>Files</h5></div>
</div>
<div class="row">
    <div class="col-md-8">
        {% for conversation in person.conversations.all %}
        <div class="row">
            <div class="col-md-8">
                <a href="{% url 'reader:conversation' conversation.id %}">
                    {% if conversation.subject %}{{ conversation.subject }}
                    {% else %}&lt;No Subject&gt;{% endif %}</a>
            </div>
            <div class="col-md-4">
                {{ conversation.latest_message_date }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        {% for attachment in person.sent_attachments %}
        <div class="row">
            <div class="col-md-12">
                <a href="/{{ attachment.stored_location }}">{{ attachment.filename }}</a>
            </div>
        </div>
        {% empty %}
        &lt;No Files&gt;
        {% endfor %}
    </div>
</div>
{% endblock %}