{% extends 'base.html' %}
{% block title %}{{ person.name }}{% endblock %}

{% block content %}

<h3>{{ person.name }}</h3>
<h4><a href="mailto:{{ person.address }}">{{ person.address }}</a></h4>
<hr>
{% if person.sent_messages.all %}
<p>Sent Messages:<ul>
    {% for message in person.sent_messages.all %}
    <li><a href="{% url 'reader:message' message.id %}">
        {% if message.cleaned_subject %}{{ message.cleaned_subject }}
        {% else %}&lt;No Subject&gt;{% endif %}</a> [{{ message.sent_date }}]</li>
    {% endfor %}
</ul></p>
{% endif %}
{% if person.conversations %}
<p>Conversations:<ul>
    {% for conversation in person.conversations.all %}
    <li><a href="{% url 'reader:conversation' conversation.id %}">
        {% if conversation.subject %}{{ conversation.subject }}
        {% else %}&lt;No Subject&gt;{% endif %}</a> [{{ conversation.latest_message_date }}]</li>
    {% endfor %}
</ul></p>
{% endif %}
{% if person.sent_attachments %}
<p>Files:<ul>
    {% for attachment in person.sent_attachments %}
    <li><a href="/{{ attachment.stored_location }}">{{ attachment.filename }}</a></li>
    {% endfor %}
</ul>
</p>
{% endif %}
{% endblock %}